body {
  font-family: "Poppins", sans-serif; }
  body .container {
    max-width: 1148px;
    margin: auto; }
  body h1 {
    font-size: 40px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #cad3d8;
    padding: 30px;
    margin-bottom: 0;
    color: #2e3840; }
  body h2 {
    font-size: 20px;
    font-weight: bold;
    color: #2e3840;
    margin-bottom: 0; }
  body p {
    font-size: 14px;
    line-height: 16px;
    color: #838a8f;
    margin-top: 0; }
  body .flex {
    display: flex; }
  body .flex-25 {
    flex-wrap: wrap;
    justify-content: space-between; }
    body .flex-25 > div {
      width: 23%; }
  body input, body select {
    width: 100%;
    padding: 10px;
    border: 1px solid #c9d2d8;
    margin-bottom: 10px;
    border-radius: 2.5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #838a8f; }
  body #info #role {
    width: 60%;
    margin-left: 10px; }
  body #info #state, body #info input[name='zip'] {
    margin-left: 10px; }
  body #payment input[name='year'], body #payment input[name='CVC'] {
    margin-left: 10px; }
  body a {
    text-decoration-color: #f17e00; }
    body a p {
      color: #f17e00; }
  body .check-box-field, body .radio-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 0 0px; }
    body .check-box-field .checkmark-label, body .check-box-field .radio-label, body .radio-field .checkmark-label, body .radio-field .radio-label {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      user-select: none; }
      body .check-box-field .checkmark-label input, body .check-box-field .radio-label input, body .radio-field .checkmark-label input, body .radio-field .radio-label input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0; }
      body .check-box-field .checkmark-label input:checked ~ .checkmark, body .check-box-field .radio-label input:checked ~ .checkmark, body .radio-field .checkmark-label input:checked ~ .checkmark, body .radio-field .radio-label input:checked ~ .checkmark {
        background-color: #f17e00;
        border: 1px solid transparent; }
      body .check-box-field .checkmark-label input:checked ~ .checkmark:after, body .check-box-field .radio-label input:checked ~ .checkmark:after, body .radio-field .checkmark-label input:checked ~ .checkmark:after, body .radio-field .radio-label input:checked ~ .checkmark:after {
        display: block; }
      body .check-box-field .checkmark-label .tiny-text, body .check-box-field .radio-label .tiny-text, body .radio-field .checkmark-label .tiny-text, body .radio-field .radio-label .tiny-text {
        font-size: 13px;
        line-height: 18px; }
      body .check-box-field .checkmark-label .checkmark, body .check-box-field .radio-label .checkmark, body .radio-field .checkmark-label .checkmark, body .radio-field .radio-label .checkmark {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: transparent;
        border: 1px solid #c9d2d8; }
      body .check-box-field .checkmark-label .checkmark:after, body .check-box-field .radio-label .checkmark:after, body .radio-field .checkmark-label .checkmark:after, body .radio-field .radio-label .checkmark:after {
        content: "";
        position: absolute;
        left: 6px;
        top: 0px;
        width: 4px;
        height: 12px;
        border: solid #fff;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        display: none; }
  body .radio-field {
    flex-wrap: wrap; }
    body .radio-field label:last-of-type {
      margin-bottom: 10px; }
    body .radio-field .radio-label {
      width: 100%;
      font-size: 14px;
      font-weight: bold;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 50px;
      background-color: #f8f8f8;
      margin-bottom: 0; }
      body .radio-field .radio-label .checkmark {
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        left: 20px; }
      body .radio-field .radio-label.selected {
        background-color: transparent;
        border: 1px solid #f17e00; }
  body .pay-button button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 100%;
    padding: 20px 10px;
    background: linear-gradient(#f17e00, #f59328);
    border-radius: 40px;
    border: none; }
    body .pay-button button.small {
      font-size: 16px; }
